.movieSection {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 12rem;


  .movieGenres {
    // display: inline;

    .heading {
      text-align: center;
      color: white;
    }
    .genresList {
      text-align: center;

      button {
        margin: 0.5rem;
        background: var(--buttonbgColor);
        color: white;
        height: 1.8rem;
        width: 7.5rem;
        border-radius: 0.7rem;
        border: none;
      }
    }
  }

  .moviesList {
    display: flex;
    justify-content: center;
    height: 100vh;
    

    img {
      height: 22rem;
      width: 15rem;
      margin: 0.8rem;
      border-radius: 0.5rem;
    }
  }
}
