@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --fontColor: #9ea9ba;
  --backgroundColor: #13171f;
  --buttonbgColor: #2c384a;
}
* {
  box-sizing: border-box;
  font-family: Poppins
}

body {
  margin: 0;
  background: var(--backgroundColor);
  text-align: center;

}

.app {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
