@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --fontColor: #9ea9ba;
  --backgroundColor: #13171f;
  --buttonbgColor: #2c384a;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
